:root {
    --primary-color: #28bf96;
    --primary-color-dark: #209677;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
}

body {
    font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-height: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

nav {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    transition: 0.3s;
}

.nav__logo:hover {
    color: var(--primary-color-dark);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    text-decoration: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.content {
    padding: 1rem 2rem;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
}

.content h1 span {
    font-weight: 400;
}

.content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.5rem;
}

.image {
    margin: 1rem 2rem;
    position: relative;
    text-align: center;
    isolation: isolate;
}

.header__image {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: auto;
}

/* Dropdown Menu */
.dropdown__menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown__menu li {
    display: block;
}

.dropdown__menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown__menu li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown__menu {
    display: block;
}

/* LOGIN RESPONSIVE  */
.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50vh;
    margin: auto; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .login-container {
        width: 75%; 
    }
}

@media only screen and (max-width: 400px) {
    input[type="text"],
    input[type="password"],
    button {
        padding: 8px 12px; 
    }
}

/* STORE API  */
.card {
  display: inline-block;
  width: 30%;
  height: auto; /* Ubah height menjadi auto */
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 250px; /* Atur tinggi gambar menjadi 250px */
  max-height: 350px;
  object-fit: contain; /* Gambar akan menyesuaikan diri dan tetap proporsional */
  margin-bottom: 1rem;
}


.product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  color: #28bf96;
}

#pagination {
  margin-bottom: 2rem;
  text-align: center; 
}

#pagination a {
  margin-right: 0.5rem;
  padding: 0.3rem 1rem; 
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s; 
}

#pagination a:hover {
  background-color: var(--primary-color-dark);
}

#pagination .active {
  background-color: var(--primary-color);
  color: var(--white); 
  border-color: var(--primary-color); 
}


  
  
  /* POPPINS FONT  */

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  