:root{
  --primary-color : #28bf96;
  --primary-color-dark : #209677;
  --text-dark : #111827;
  --text-light : #6b7280;
  --white : #ffffff;
}

body{
  font-family: "Poppins", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-height: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn{
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background-color: var(--primary-color-dark);
}

nav{
padding: 1rem 2rem;
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;   
}

.nav__logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  transition: 0.3s;
}

.nav__logo:hover{
  color: var(--primary-color-dark);
}

.nav__links{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a{
  text-decoration: none;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.link a:hover{
  color: var(--primary-color);
}

.header{
  padding: 0 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 2rem;
  align-items: center;
}

.content{
  padding: 1rem 2rem;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
}

.content h1 span {
  font-weight: 400;
}

.content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1,5rem;
}

.image{
  margin: 1rem 2rem;
  position: relative;
  text-align: center;
  isolation: isolate;
}

.header__image{
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  height: 450px;
  width: auto;
}




/* POPPINS FONT  */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
